.naverMap {
  width: 100%;
  height: 100%;
  /* height: 60vh; */
  align-self: center;
}
.mapPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mapContainer {
  display: flex;
  justify-content: space-between;
  height: 70vh;
}
.menu {
  width: 100%;
}
.custom-steps {
  @apply steps;
  /* overflow-: scroll; */
}
.routeContainer {
  overflow-y: auto;
  height: 70vh;
  min-width: 15vw;
  margin-right: 10px;
}
.routeContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.routeContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.btn-up {
  @apply btn-primary;
  grid-column-start: 2;
}
.updownBtnFrame {
  display: flex;
  grid-column-start: 2;
  justify-self: center;
  font-size: calc(10px + 2vmin);
}
.steps-vertical .step:before {
  height: 170%;
}
.steps-vertical .step {
  grid-template-rows: 40px 20px;
  grid-row-gap: 1px;
}
.stationUpDown {
  text-align: center;
  margin: 0 10px;
}
.stationDelete {
  text-align: center;
  margin: 0 10px;
  font-size: calc(10px + 1vmin);
}
.stationName {
  text-align: center;
  justify-self: center;
}
.saveBtn {
  width: 40vw;
  align-self: center;
}
