.App {
  text-align: center;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.bodyFrame {
  width: 65vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
