.App {
  /* text-align: center; */
  display: flex;
  height: 100vh;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

.bodyFrame {
  width: 65vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 35vw;
  margin-left: 20vw;
  height: 1.5rem;
}
